{% extends 'base.html' %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        <table>
            <tbody>
                <tr>
                    {{ user_form.username.errors }}
                    <th> <label for="id_username">Usuário: </label></th>
                    <td>{{ user_form.username}}</td>
                </tr>

                <tr>
                    {{ user_form.password1.errors }}
                    <th><label for="id_password">Senha: </label></th>
                    <td>{{ user_form.password1}}</td>
                </tr>

                <tr>
                    {{ user_form.password2.errors }}
                    <th>Confirmação de Senha: </th>
                    <td>{{ user_form.password2}}</td>
                </tr>
            </tbody>

        </table>  
        <div>
            <th><input type="submit" value="Cadastrar" class="btn btn-register"></th>
        </div>  
    </form>

{% endblock %}